.pybuild/
build/
katversion.egg-info/
debian/debhelper-build-stamp
debian/files
debian/python-katversion.debhelper.log
debian/python-katversion.postinst.debhelper
debian/python-katversion.prerm.debhelper
debian/python-katversion.substvars
debian/python-katversion/

