Source: katversion
Section: python
Priority: optional
Maintainer: KERN Suite <KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-pkginfo
Standards-Version: 4.6.2.0
Homepage: https://github.com/ska-sa/katversion
Vcs-Git: git://github.com/kernsuite-debian/katversion.git
Vcs-Browser: https://github.com/kernsuite-debian/katversion
X-Python3-Version: >= 3.10

Package: python3-katversion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Provides proper versioning for Python3 packages
 The katversion package provides proper versioning for Python packages as
 dictated by their (git) source repositories. The resulting version string
 is baked into the installed package's __init__.py file for guaranteed
 traceability when imported (no dependency on what pkg_resources thinks!).

Package: katversion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3-katversion
Description: Provides proper versioning for Python3 packages
